<!DOCTYPE html>

<%- include('./partials/header.ejs') %>

<form autocomplete="off" action="/drugs">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="q" placeholder="Find your drugs nearby">
  </div>
  <input type="submit" value="Find">
</form>

<script src="/js/main.js"></script>
<%- include('./partials/footer.ejs') %>