<!DOCTYPE html>

<%- include('./partials/header.ejs') %>

<form autocomplete="off" action="/drugs" class="w3-center">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="q" placeholder="Find your medications nearby">
  </div>
  <input type="submit" value="Find">
</form>

<%- include('./partials/footer.ejs') %>