<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" id="mapbox-css" href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css">
</head>

<body>
  <main class="w3-container" s>

    <div class="w3-bar w3-blue" style="margin-bottom: 1rem;">
      <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button">Drugstore <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-blue">
          <a href="/add-drugstore" class="w3-bar-item w3-button w3-mobile">Add</a>
          <a href="/add-drug-to-store" class="w3-bar-item w3-button w3-mobile">Add drug to store</a>
        </div>
      </div>
      <a href="/add-drug" class="w3-bar-item w3-button w3-mobile">Add Drug</a>
    </div>

    <div class="main-block">
      