<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>></title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" id="mapbox-css" href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css">
</head>
<body >
  <main class="w3-container">